* {
  box-sizing: border-box;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

/* SVG Spinner */

.svgSpinnerWrapper {
  width: 200px;
}

.svgSpinner {
  fill: none;
  stroke: red;
  stroke-width: 3;
}

.circleWrapper {
  transform-origin: center;
}

.svgSpinnerCircle {
  stroke-dasharray: 150.72;
  stroke-dashoffset: 37.68;
  transition: all 1s ease-in;
}

.rotate {
  animation: svgRotate 2s infinite linear;
}

.button {
  display: block;
  margin-top: 50px;
  color: black;
}

.svgSpinner.success .svgSpinnerCircle {
  stroke: green;
  stroke-dashoffset: 0;
}

/* SVG Spinner with checkmark*/
/* All together */

.svgCheckmarkSpinnerWrapper {
  width: 200px;
}

.svgCheckmarkSpinnerSvg {
  fill: none;
  stroke: red;
  stroke-width: 3;
}

.svgCheckmarkSpinnerCircle {
  stroke: red;
  stroke-dasharray: 150.72;
  stroke-dashoffset: 37.68;
  transition: all 1s ease-in;
}

.svgCheckmarkSpinnerPath {
  stroke: transparent;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  transition: all 1s ease-in 1s;
}

.svgCheckmarkSpinnerSvg.success .svgCheckmarkSpinnerCircle,
.svgCheckmarkSpinnerSvg.success .svgCheckmarkSpinnerPath {
  stroke: green;
  stroke-dashoffset: 0;
}


@keyframes svgRotate {
  to {
    transform: rotate(360deg);
  }
}
