* {
  box-sizing: border-box;
}

/* SVG Spinner */

.svgSpinnerWrapper {
  width: 200px;
}

.svgSpinnerWrapper svg {
  display: block;
  width: 100%;
  height: auto;
}

.svgSpinner {
  fill: transparent;
  stroke: red;
  stroke-width: 3px;
  /* 2 * π * R  = C */
  stroke-dasharray: 295.309;
  /* C * (1 - 0.75) =  circle - 25% */
  /* 295.309 * (1 - 0.75) */
  stroke-dashoffset: 73.82725;
  animation: svgRotate 2s infinite linear;
}

@keyframes progress {
  from {
    stroke-dashoffset: 295.309;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes svgRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
